@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'katex/dist/katex.min.css'; */

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(66, 64, 64);
  overscroll-behavior-y: contain;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;  
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
@media print {
  @page {
    margin: 10mm; 
  }
  .exam-wrapper {
    page-break-inside: avoid;
    break-inside: avoid;
  }
 body {
    margin: 0;
    padding: 0;
  }

  .print-container {
    padding: 20px;  
  }
  .header {
    page-break-after: avoid;
    break-after: avoid;
  }

  .question-block {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 10px;
  }
}

.courseBtnAnimate {
  animation-name: courseBtn;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes courseBtn {
  0% {
    opacity: 0.2;   /* 20% visible */
  }
  50% {
    opacity: 0.7;   /* 70% visible */
  }
  100% {
    opacity: 1;     /* 100% visible */
  }
}

 





@layer base {
  :root {
    --radius: 0.5rem;
  }
  *{
    box-sizing: border-box;
  }

  .warningText {
  color: #b91c1c; 
  background-color: #fee2e2;  
  padding: 8px 12px;
  border-radius: 6px;
  animation: warningBlink 1.5s ease-in-out infinite;
}

@keyframes warningBlink {
  0%, 100% {
    background-color: #fee2e2; /* red-100 */
  }
  50% {
    background-color: #fecaca; /* red-200 */
  }
}
.headerBg {
    filter: drop-shadow(0 0 171px blue);
}
.heroBg{
  filter: drop-shadow(10px 20px 100px blue);
}

  .animateOnLoad {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp .5s ease-out forwards;
  }
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
   .tafsir-content p{
    margin: 10px 0px;
   }



  @media (max-width: 767px) {
   
    /* Mobile screen */
    .heroImageAnimate {
      animation: upDownMobile 1s ease-in-out infinite alternate;
    }

    @keyframes upDownMobile {
      from {
        transform: translateY(-175px);
      }

      to {
        transform: translateY(-195px);
        /* তুমি ইচ্ছে মতো মান পরিবর্তন করতে পারো */
      }
    }
  }

  @media (min-width: 768px) {

    /* Medium & larger screens */
    .heroImageAnimate {
      animation: upDownDesktop 1s ease-in-out infinite alternate;
    }

    @keyframes upDownDesktop {
      from {
        transform: translateY(0px);
      }

      to {
        transform: translateY(-20px);
      }
    }
  }

 
  .scrollbarHide::-webkit-scrollbar {
    display: none;
  }
   
  /*  markdown editor styles Start */
 
.markdown h1 {
  margin-top: 0.67em;    /* প্রায় 10px এর কাছাকাছি */
  margin-bottom: 0.67em;
  padding: 0;
  font-size: 2em;        /* বড়ো হেডিং */
  font-weight: bold;
}

.markdown h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.markdown h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1.17em;
  font-weight: bold;
}

.markdown h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}

.markdown h5 {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  padding: 0;
  font-size: 0.83em;
  font-weight: bold;
}

.markdown h6 {
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  padding: 0;
  font-size: 0.67em;
  font-weight: bold;
}
.markdown hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 15px 0;
}
.markdown blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1rem;
  margin: 1rem 0;
  color: #555;
  background: #f9f9f9;
  font-style: italic;
}


.markdown table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.markdown th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f3f4f6;
  text-align: left;
}

.markdown td {
  border: 1px solid #ddd;
  padding: 8px;
}
.markdown table tr:hover {
  background-color: #f4f6fb;
  cursor: pointer;  
}

.markdown img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

  /*  markdown editor styles End */




}


@layer components {

  /* client Start */
   /* .wrapBg {
  @apply bg-gradient-to-br from-blue-50 via-white to-emerald-50;
} */
  .bg1 {
    @apply bg-[#0891b2]
  }

  .bg2 {
    @apply bg-indigo-100 text-cyan-600
  }

  .color1 {
    @apply text-[#1e708a]
    /* @apply text-[#ffde59] */
  }

  /* .color2 {
    @apply text-[#33dfe985]
  } */
  .color2 {
    @apply text-[#1e40af]
  }

  .border1 {
    @apply border-[#1e708a]
  }

  /* .border2 {
    @apply border-[#33dfe985]
  } */
  .border2 {
    @apply border-[#1e40af]
  }

  .btnBg {
    @apply mt-4 bg-blue-900 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition-all
  }
  .btnBg2 {
    @apply mt-4 bg-yellow-600 text-white py-2 px-4 rounded-lg hover:bg-yellow-700 transition-all
  }

  .primaryHover {
    @apply hover:bg-gray-400 hover:text-white transition-all
  }

  .secondaryHover {
    @apply hover:bg-gray-200 transition-all
  }


  /* client End */


  /*  common Style Start */
  h1 {
    @apply text-2xl md:text-3xl font-semibold
  }

  h2 {
    @apply text-xl md:text-2xl font-semibold
  }

  .addFormWrap {
    @apply w-full min-h-screen bg-gray-100 rounded-md flex items-center justify-center
  }

  .addFormWrap form {
    @apply w-full md:w-[70%] m-auto p-2 md:p-4 rounded-md shadow-md shadow-gray-300
  }

  .addFormWrap form h2 {
    @apply font-semibold text-2xl md:text-3xl my-4 italic text-gray-800 capitalize
  }

  .formGroup {
    @apply flex items-center justify-between gap-2 my-3
  } 


  /*  common Style End */
};